pipeline/Clean_ADLStoADLSandSQL_Dataflow.json
{
	"name": "Clean_ADLStoADLSandSQL_Dataflow",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Clean_Dataflow",
									"type": "DataFlowReference",
									"parameters": {
										"FileSystemParam": {
											"value": "'@{pipeline().parameters.FileSystem}'",
											"type": "Expression"
										},
										"FolderPathParam": {
											"value": "'landing/@{item()['TABLE_NAME']}'",
											"type": "Expression"
										},
										"FileNameParam": {
											"value": "'@{item()['TABLE_NAME']}*.parquet'",
											"type": "Expression"
										},
										"SchemaNameSink": {
											"value": "'@{pipeline().parameters.SchemaNameSink}'",
											"type": "Expression"
										},
										"TableNameSink": {
											"value": "'@{item()['TABLE_NAME']}'",
											"type": "Expression"
										},
										"FolderPathParamSink": {
											"value": "'curated/@{item()['TABLE_NAME']}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT \nTABLE_NAME,\nSTRING_AGG (CONVERT(NVARCHAR(max),COLUMN_NAME), ',') AS CONCAT_COLS_NAMES\nFROM INFORMATION_SCHEMA.COLUMNS\nWHERE TABLE_SCHEMA = '@{pipeline().parameters.SchemaQuery}'\nGROUP BY TABLE_NAME",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "INFORMATION_SCHEMA",
							"Table": "tables"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"FileSystem": {
				"type": "string",
				"defaultValue": "storage-sandbox"
			},
			"SchemaNameSink": {
				"type": "string",
				"defaultValue": "CleanData"
			},
			"SchemaQuery": {
				"type": "string",
				"defaultValue": "SalesLT"
			}
		},
		"annotations": []
	}
}